@charset "utf-8";

* {
	margin:0; 
	padding:0; 
	box-sizing:border-box;
}
html {
	scroll-behavior:smooth;
}
html,body {
	font:12pt/160% "Noto Sans KR", sans-serif; 
	letter-spacing:-0.75pt;
}
h2 {
	font-size:3rem; 
	text-align:center; 
	margin-bottom:60pt;
}
img {
	display:block; 
	max-width:100%;
}
a {
	text-decoration:none
}

.area {
	min-height:100vh;
	padding-top:11vh;
}


/* top */
nav {
		position:fixed; 
		width:100%; top:0;
		padding:20pt 10pt 10pt 10pt;
		font-weight:bold;
		z-index:1;		
}
nav>div {
	max-width:1490px; 
	margin:auto;
	display:flex;
}
/* name */
nav p {
	color:white;
	flex:1; font-size:1.2rem;
}
/* close*/
nav button.fas {
	display:none;
}
/* menu */
nav a {
	margin-left:20pt; 
	color:white;
	text-shadow:0 0 10px black;	
}

/* scroll down add class (add background) */
nav.act {
	background:#262626;
}

/* haeder*/
#top {
	height:100vh; 
	background: #262626;
}
#typing {
	padding:40vh 1px 0 1px;
	color:white;
	text-align:center; 
	font-size:2.5rem;
	height:60vh; 
	text-shadow:0 1px 10px black;
	line-height:160%;
}
#scroll{
	width:100px;
	margin:auto; 
	margin-top:30vh;
	text-align:center;
}
#scroll i {
	font-size:2.5rem;
	color:white;
	display:block;
	-webkit-animation:down 1s infinite;
	animation:down 1s infinite;
}
@-webkit-keyframes down{
	from	{transform:translateY(-10pt); opacity:0;}
	to 		{transform:translateY(0pt); opacity:1;}
}
@keyframes down{
	from	{transform:translateY(-10pt); opacity:0;}
	to 		{transform:translateY(0pt); opacity:1;}
}

#scroll a {
	color:white;
}


/*about*/
#about {
	background:#eee;
}
#about img {
	width:250pt; 
	margin:auto;
	border-radius: 100%;
}
#about>p {
	max-width:150pt; 
	margin:auto; 
	text-align:center;
}
#about q {
	font-size:1.2rem; 
	font-weight:bold; 
	line-height:200%;	
}
#about div {
	display:flex; 
	max-width:900pt; 
	margin:auto;	
}
#about section:nth-child(1){flex:1;}
#about section:nth-child(2){flex:2;}
#about section:nth-child(3){flex:1;}
#about h3 	{
	margin:50pt 0 10pt 0;
}
#about h3+p {
	font-size:0.9rem; font-weight:300;
}


/* portfolio */
#portfolio {
		max-width:1000pt; margin:auto;
		overflow:hidden;
}
#portfolio>section {
	display:flex;
}
#portfolio div {
	line-height:270%;
}
#portfolio div:first-child {
	padding-right:30pt;
}
#portfolio h3 {
	font-size:2.3rem; 
	padding-bottom:20pt;
}
#portfolio ul {
	list-style:none; 
	margin-bottom:25pt;
}
#portfolio li {
	display:flex; 
	align-items:flex-start; 
	padding-bottom:5pt;
}
#portfolio b {
	flex-basis:55pt; 
	line-height:180%;
	padding-right:10pt;
	text-align:center;
}
#portfolio span {
	display:block; 
	flex:1; 
	text-align:justify; 
	line-height:180%;
}
#portfolio a {
	font-size:1rem; 
	font-weight:500; 
	border:1pt solid #ccc; 
	border-radius:20pt;
	color:black; 
	padding:6pt 30pt;
	transition:0.5s;
}
#portfolio a:hover {
	background:#555; 
	color:white;
}


/*첫번째 포폴 제외한 포폴들*/
#portfolio>section:not(#nin){
	padding-top:28vh; 
	min-height:100vh;
}
#nintendo { 
	width: 350px;
}

/* port1*/
#nin {
	padding:10vh 0 18vh 0;
	transform:translateY(100px); 
	opacity:0;
	transition:1s;
}
#nin.act {
	transform:translateY(0px); 
	opacity:1;
}
#port_img1{
	width: 500px;
	margin-left: 280px;
}

/* port2 */
#burts>div:first-child {
	transform:translateX(-450pt);/*왼쪽이동*/
	transition:3s;
}
#burts>div:last-child {
	transform:translateX(600pt);/*오른쪽이동*/
	transition:3s;
}
#burts.act>div {
	transform:translateX(0pt); /*두 div 제자리*/
}

/* port3 */
#ym>div {
	transform:scale(0.5); opacity:0;
	transition:3s;
}
#ym.act>div {
	transform:scale(1); opacity:1;
}

/*******************/
/* event */
#event {
	max-width:900pt; margin:auto; 
}
#event>div{
	display:flex; flex-wrap:wrap; justify-content:space-evenly;
}
#event>div>div {
	position:relative; width:280pt; margin-bottom:10pt;
	overflow:hidden; cursor:pointer;		
}
#event img {
	width:100%; 
	height:100%; 
	transition:0.5s;
}

/*(돋보기+자세히보기)--hover*/
#event>div>div:hover img {
	transform:scale(1.1); 
}
#event>div>div:hover p	{
	opacity:1;
}

/*(돋보기+자세히보기)*/
#event p {
	position:absolute; 
	width:100%; 
	height:100%;
	top:0; 
	background:rgba(0,0,0, 0.75);
	color:white; 
	text-align:center; 
	opacity:0;
	transition:0.5s;
}
/*돋보기*/
#event i {
	font-size:2rem; 
	display:block; 
	margin-top:40%;
}
/*****************/
/* popup -- 큰이미지 보기*/
#popup {
	position:fixed; 
	top:0; 
	width:100%; 
	height:100vh;
	background:rgba(0,0,0, 0.9); 
	z-index:2;
	overflow:auto; /*이미지(자식)가 클때 스크롤바(부모)가 생긴다*/
	display:none;
}
#popup h3 {
	background:#333; 
	color:white;
	padding:15pt; 
	text-align:center;
}
#popup img {
	margin:auto;
}

/************/
/*Contact us*/
#contact {
	background:#eee;
}
#contact b {
	display:block; 
	font-size:1.1rem;
	font-weight:400;
	padding-top:20pt;
}
#contact div {		
	max-width:600px; 
	margin:auto;
	display:flex; 
	padding-top:30pt;
}
#contact section {
	flex:1; 
	text-align:center;}
#contact .fas {
	font-size:5rem; 
	color:#8dc8e4;
	padding-bottom:10pt;
}
#contact h3+a {
	color:black;
}

/********************************************************************/
/***********휴대폰***********/
@media(max-width:600px){
	h2 {
		font-size:2.5rem;
		margin:30pt 0; 
		width:100%; 
	}
	#top {
		background-size:auto 100vh;
	}
	#typing {
		font-size:2rem;
	}
	nav.act {
		padding:5pt; 
		padding-top:10pt;		
	}
	nav>div {		
		padding:0 5pt; 
		align-items:center;
		position:relative;
	}
	/*상단 왼쪽 */
	nav p {
		margin-bottom:0pt;
	}
	/*햄버거+닫기 아이콘*/
	nav button.fas {
		font-size:1.3rem; 
		padding:2px 5px;
		background:transparent;
		color:white;
		border:none; 
		display:block;
	}
	/* menu1 */
	nav>div div {
		position:absolute; 
		top:60px; 
		width:100%;  
		display:none;
	}
	/* menu2 */
	nav a {
		margin:0; 
		display:block; 
		padding: 10px;	
		color:#aaa;
	}	
	/*메뉴항목 터치*/
	nav a:hover, a.act {
		margin-left:40px;
	}
	#about div {		
		flex-direction:column; 
		padding:10pt; 		
	}
	/*내사진*/
	#about img {
		width:50%; 
		margin:auto;
	}
	
	#portfolio {
		padding:10px; 
		margin-top:50pt;
	}
	#portfolio h3 {
		padding-top:30pt; 
		font-size:1.7rem;
	}
	#portfolio div {
		text-align:center;
	}
	#portfolio div:first-child {
		padding-right:0pt;
	}
	#portfolio a {
		padding:5pt 7pt;
		font-size:0.9rem;
	}
	
	#nin {
		flex-direction:column-reverse;
		padding-bottom:0;
	}
	#nin>div:first-child {
		padding-top:30pt;
	}
	
	#burts {
		flex-direction:column;
	}
	#ym {
		flex-direction:column-reverse;
	}
}



